

.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5em;
  padding: 50px 100px;
}

.product-item {
  border: 1px solid #ddd; 
  border-radius: 0.5rem; 
  padding: 3rem; 
  background-color: #fff; 
}

.product-image {
  width: 100%;
  height: auto; 
  border-bottom: 1px solid #ddd; 
  margin-bottom: 0.5rem; 
}

.product-name {
  font-size: 1.25rem; 
  margin: 0.5rem 0; 
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  color: #2a9d8f; 
  font-size: 1rem; 
  background-color: #ddd;
  color: black;
  border: none;
}

.product-description {
  font-size: 0.875rem;
  color: #333; 
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buy-now-button {
  width: 60%;
  height: 40px;
  font-size: 1rem;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s; 
}

.buy-now-button:hover {
  transform: scale(1.02); 
}



/* .related-products {
  display: flex;
  justify-content: space-around;
}

.related-product-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.related-product-image {
  max-width: 100%;
  height: auto;
}

.buy-now {
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* Add any additional styles as needed */
